{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 2,
        "loose" : true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    // "@babel/plugin-external-helpers",
    ["@babel/plugin-proposal-class-properties", { "loose" : true }]
  ]
}
